<div class="list-group">
  <%= link_to 'Product', admin_products_path, class: "list-group-item list-group-item-action bg-primary text-white" %>
  <%= link_to 'Category', "", class: "list-group-item list-group-item-action bg-secondary text-white" %>
  <%= link_to 'Brand', "", class: "list-group-item list-group-item-action bg-info text-white" %>
  <%= link_to 'Orders', "", class: "list-group-item list-group-item-action bg-success text-white" %>
</div>
