<!-- app/views/home/index.html.erb -->
<style>
    .card-img-top {
        object-fit: cover;
        height: 200px; /* Ustaw żądany rozmiar obrazu */
    }
</style>

<div class="container mt-4">
  <h1 class="display-4">Welcome to the Discount Store!</h1>

  <% if user_signed_in? %>
    <%= link_to 'New Product', new_product_path, class: 'btn btn-primary my-2' %>
  <% end %>

  <h2 class="mt-4">Products</h2>
  <%= render 'home/listing_products' %>
</div>
