<!-- app/views/products/new.html.erb -->

<div class="container mt-4">
  <h1 class="display-4">New Product</h1>

  <%= render 'form', product: @product %>

  <%= link_to 'Back', products_path, class: 'btn btn-secondary my-2' %>
</div>
