/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-star-rating
 *= require font-awesome



*/

@import 'bootstrap';
@import url("node_modules/bootstrap-icons/font/bootstrap-icons.scss");
@import "font-awesome";
@import 'bootstrap-icons/font/bootstrap-icons.css';


body {
  background-color: #2d2d2d; /* Kolor tła zbliżony do tego w ChatGPT */
  color: #ffffff; /* Jasny kolor tekstu dla lepszej widoczności */
}

/* Dostosuj klasę koloru tła dla navbara Bootstrapa */
.navbar {
  background-color: #343a40; /* Kolor tła navbara Bootstrapa */
}

/* Dostosuj kolor tekstu i hiperłącza dla elementów nawigacyjnych w navbarze */
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; /* Kolor tekstu dla nawigacji */
}

.navbar-dark .navbar-toggler-icon {
  background-color: #ffffff; /* Kolor ikony przycisku nawigacyjnego (burger) */
}

/* Dostosuj kolor tekstu dla elementów listy */
.list-group-item,
.list-group-item-action {
  color: #000000; /* Czarny kolor tekstu dla elementów listy */
}

/* Dostosuj tło i kolor tekstu dla karty (card) w Bootstrapie */
.card {
  background-color: #343a40; /* Kolor tła karty */
  color: #ffffff; /* Kolor tekstu w karcie */
}


/* application.css */
.rating-stars .star {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}

.rating-stars .star.selected {
  color: #ffc107; /* Kolor wybranych gwiazdek */
}


/* Search */

.nav-search {
  margin-right: 15px; /* Dodaj odpowiedni odstęp od innych elementów w pasku nawigacyjnym */
}

.input-group {
  width: 300px; /* Dostosuj szerokość pola wyszukiwania według własnych preferencji */
}

/* Dostosuj stylowanie dla responsywności (jeśli potrzebne) */
@media (max-width: 767px) {
  .nav-search {
    margin-right: 0;
    margin-top: 10px; /* Dodaj odstęp od góry w trybie responsywnym */
  }

  .input-group {
    width: 100%;
  }
}


