<!-- app/views/products/edit.html.erb -->
<div class="container mt-4">
  <h2>Edit Product</h2>

 <%= render 'products/form' %>

  <%= link_to 'Back', root_path, class: 'btn btn-secondary my-2' %>
</div>
